<div class="row my-4">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form action="" method="POST" class="row">
            {% csrf_token %}
            <button type="submit" name="submit" id="blue-filter" value="blue-filter" class="col-lg-4 col-md-4 col-sm-4 btn btn-outline-primary rounded-pill my-2">
                <h5>Show Blue Cars</h5>
            </button>
            <button type="submit" name="submit" id="all-filter" value="all-filter" class="col-lg-4 col-md-4 col-sm-4 btn btn-outline-success rounded-pill my-2">
                <h5>Show All Cars</h5>
            </button>
            <button type="submit" name="submit" id="red-filter" value="red-filter" class="col-lg-4 col-md-4 col-sm-4 btn btn-outline-danger rounded-pill my-2">
                <h5>Show Red Cars</h5>
            </button>
        </form>
    </div>
</div>