{% extends 'layouts/layout.html' %}


{% block title %}
    {{ title | title }}
{% endblock title %}


{% block content %}
    <div id="content" class="container-fluid">
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 border-right border-left border-bottom border-muted rounded-lg">

                <div class="row">
                    <div class="col-lg-12">
                        <div id="header" class="jumbotron bg-dark text-white py-3 my-3 rounded-lg">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8">
                                        <h3>Cars At Your Service</h3>
                                        <small>We've got it all for you.</small>
                                        <hr class="bg-danger">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><hr>

                {% include 'details/forms/adding_form.html' %}<hr>
                
                {% include 'details/forms/filtering_form.html' %}
                
                {% include 'details/mainpages/cars_content.html' %}
                
            </div>
        </div>
        
    </div>
    <br><br><br>

    {% include 'details/modals/update_delete_modal.html' %}
{% endblock content %}